@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Dots', cursive;
    color: white;
}

.main__background {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    pointer-events: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.timer-content {
    font-size: 140px;
    margin-top: 250px;
    font-weight: 700;
    text-shadow: 1px 3px 3px #000;
    text-align: center;
}

.newYearTimer {
    font-size: 140px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 3px 3px #000;
}


@media (max-width: 768px) {

    .timer-content {
        color: black;
    }

}