@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Dots', cursive;
}

.main__background {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    pointer-events: none;
}

.containter {
    max-width: 1400px;
    margin: 0 auto;
}

.newYearTimer {
    font-size: 50px;
    color: white;
    font-weight: 700;
}


